@use 'scss/variables/colors.scss';
@use 'scss/responsive.scss';
@use 'scss/filter.scss';
@use 'scss/programs.scss';
@use 'scss/banner.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;

    
.container {
    width: 1230px;
    margin-left: auto;
    margin-right: auto;

    @include responsive.xl {

        width: 100%;

    }

    h1 {
        font-size: 3em;
    }


    .content-wrap {

        position: relative;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 2fr;

        @include responsive.md {

            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            width: 100%;

        }

        @include responsive.sm {

            grid-template-columns: 1fr;
            width: 100%;

        }




    }

}
}
